#profile .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
}
#profile .section-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (min-width: 960px) {
    flex-direction: row;
    justify-content: space-between;

    > * {
      flex: 1;
    }
  }

  .box {
    border: 1px solid var(--clr-black);
    border-radius: 20px;
    padding: 30px 20px;
    transition: 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: var(--clr-green);
      color: #ffff;
    }
  }

  .box-title {
    font-size: 1.5rem;
    font-weight: 300;
    opacity: 0.7;
    text-align: center;
  }
  .box-content {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;

    @media (min-width: 960px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .box-item {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;

    h4 {
      font-size: 0.9rem;
      font-weight: 600;
      line-height: 1;
    }
    p {
      font-size: 0.9rem;
      opacity: 0.9;
    }
  }
}
.check-icon {
  background-color: var(--clr-black);
  color: var(--clr-white);
  padding: 5px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
